<div class="settings-container">
  
  <div class="settings-card">
    
    <div class="card-header">
      <h2 class="header-title">
        <span class="icon">⚙️</span> Configuración
      </h2>
      <div style="font-family: monospace; font-size: 0.75rem; color: #64748b;">SYS.CONFIG.V1</div>
    </div>

    <div class="card-body">
      
      <!-- Componente Formulario Interno -->
      <app-config-form></app-config-form>

    </div>

    <div class="card-footer">
      <button routerLink="/menu" class="btn-back">
        <span></span> Volver al Menú Principal
      </button>
    </div>

  </div>
</div>